/* MAIN */

/* ABOUT US */

.about-us {
	position: relative;
	padding-top: 100px;
	.container {
		display: flex;
		max-height: 780px;
		gap: 40px;
	}
	.title {
		max-width: 580px;
	}
}
.contact-form {
	border-radius: 12px;
	padding: 24px;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
	max-width: 680px;
	background-color: #FFF;
	margin-top: 64px;
	h3 {
		margin-top: 0;
		margin-bottom: 32px;
		max-width: 500px;
		font-family: "Inter";
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}
}
.form {
	display: flex;
	align-items: center;
}
.bg-images {
	transform: rotate(-12deg);
	overflow: hidden;
	display: flex;
	position: absolute;
	left: 66%;
	top: -600px;
	.right-col {
		position: relative;
		top: -1800px;
		margin-left: -40px;
		animation: moveTwo 8s infinite linear;
	}
	.left-col {
		animation: moveOne 8s infinite linear;
	}
}
.left-img {
	width: 450px;
}
.right-img {
	width: 280px;
}
@keyframes moveOne {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -48.5%);
    }
}

@keyframes moveTwo {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 50%);
    }
}