.developed-projects {
	position: relative;
	z-index: 2;
	.title {
		width: 50%;
	}
	li {
		display: flex;
		align-items: center;
		gap: 16px;
		img {
			padding: 10px;
			border-radius: 100px;
			background: #FFF;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
		}
		span {
			font-size: 17px;
			font-weight: 500;
			line-height: 22px;
		}
	}
}
.industries {
	display: flex;
	justify-content: space-between;
	ul {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 0;
	}
}
