/* DEVELOPMENT-CYCLE */

.development-cycle {
	position: relative;
	z-index: 2;
	.container {
		display: flex;
		align-items: center;
		gap: 230px;
	}
	p {
		color: #344054;
		font-size: 17px;
		font-weight: 400;
		line-height: 22px;
		max-width: 510px;
	}
	span {
		color: #2D66EE;
	}
	a {
		&:after {
			content: "";
			display: block;
			height: 0.5px;
			background-color: #2D66EE;
			position: absolute;
			left: 10;
			width: 0%;
			transition: 1s;
		}
		&:hover {
			&:after {
				width: 100%;
				transition: ease-out 1s;
			}
		}
	}
}
.links {
	ul {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	li {
		display: flex;
		gap: 10px;
	}
	a {
		position: relative;
	}
}
