.development-stages {
	position: relative;
	z-index: 2;
	height: 810px;
	.cards {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.card {
		display: flex;
		flex-direction: column;
		max-width: 392px;
		max-height: 192px;
		border-radius: 12px;
		background: #FFF;
		box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
		padding: 24px;
		position: relative;
	}
}
.cards {
	.col {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}
.card {
	.name-card {
		display: flex;
		gap: 24px;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		letter-spacing: 0.38px;
	}
	& > p {
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 12px;
	}
}
