/* MAIN */

/* ABOUT US */

.about-us {
    position: relative;
    padding-top: 100px;
}

.about-us .container {
    display: flex;
    max-height: 780px;
    gap: 40px;
}

.about-us .title {
    max-width: 580px;
}

.contact-form {
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    max-width: 680px;
    background-color: #FFF;
    margin-top: 64px;
}

.contact-form h3 {
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 500px;
    color:#101828;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.form {
    display: flex;
    align-items: center;
}

.bg-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    position: relative;
    top: -600px;
    transform: rotate(-12deg);
}

.bg-images img {
    width: 300px;
    height: 600px;
    border-radius: 24px;
}