/* COMMON */

body {
    margin: 0;
}

.container {
    max-width: 1170px;
    /*padding: 0 15px;*/
    margin: 0 auto;
}

.common-section {
    padding: 40px 0;
    background: #F2F4F7;
}

.common-section--white {
    background-color: #FFF;
}


.title h2 {
    color: #101828;
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    margin-bottom: 20px;
}

.title h3 {
    color:  #101828;
    /* SF Title 2 Semibold */
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    margin-top: 30px;
}

.title p {
    margin-top: 0;
    color: #101828;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.title span {
    color: #306FF5;
}

.btn {
    border-radius: 8px;
    border: 0;
    background:  #2D66EE;
    padding: 10px 24px;
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

.form-label {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    gap: 10px;
}

.form-label label {
    color: #667085;
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}

.form-label input {
    border: 0;
    border-bottom: 0.7px solid #D0D5DD;
    color: #101828;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 220px;
}