/* HEADER */

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header .container {
    display: flex;
    padding: 0 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    margin-top: 20px;
}   

.logo h1 {
    color: #2D66EE;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}

.nav ul {
    display: flex;
    gap: 24px;
}

.nav li {
    color: #101828;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.contacts {
    display: flex;
    gap: 32px;
    color: #2D66EE;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
}

.phone-number, .email {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone-number {
    gap: 0;
}

.phone-number span {
    padding: 0 4px;
}