@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
         url("/static/fonts/Inter-Medium.ttf") format("truetype"),
         url("/static/fonts/Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
         url("/static/fonts/Inter-Regular.ttf") format("truetype"),
         url("/static/fonts/Inter-Regular.woff2") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-ExtraBold'), local('Inter Bold'),
         url("/static/fonts/Inter-ExtraBold.ttf") format("truetype"),
         url("/static/fonts/Inter-ExtraBold.woff2") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-SemiBold'), local('Inter Bold'),
         url("/static/fonts/Inter-SemiBold.ttf") format("truetype"),
         url("/static/fonts/Inter-SemiBold.woff2") format("woff");
    font-weight: 600;
}
