.post-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
}

.post-item__title {
    font-weight: 600;
}