@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.p-style {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1-style  {
    font-size: 64px;
    color: #1F3F68;
}

.h2-style  {
    font-weight: 500;
    font-size: 44px;
    text-align: center;    
}

.h3-style  {
    font-size: 36px;
    text-align: center;    
}

.h4-style  {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;    
}

.input-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;    
}

.btn-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;    
}

.form {
    background-image: url(/src/assets/img/bg-form.jpg);
    background-repeat: no-repeat;
}

.breadcrumbs {
    background: rgb(45,125,120);
    background: linear-gradient(0deg, rgba(45,125,120,1) 7%, rgba(62,172,165,1) 58%, rgba(62,172,165,1) 58%, rgba(225,242,241,1) 95%, rgba(255,255,255,1) 98%);
    min-height: 40px;
}

.breadcrumbs ul{
    margin: 0;
    padding: 0px 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.breadcrumbs ul li {
    padding: 10px;
    padding-left: 5px;
    padding-right: 15px;
    border-bottom-right-radius: 48%;
    border-top-right-radius: 48%;
    box-shadow: 2px 0px 0px #fff,
                3px 0px 0px #555;
}

.btn-new-style {
    border: 0;
    padding: 5px 30px;
    background: rgb(63,122,213);
    background: linear-gradient(90deg, rgba(63,122,213,1) 4%, rgba(141,55,241,1) 50%, rgba(170,106,245,1) 76%, rgba(125,45,217,1) 100%);
    font-family: "Inter";
}