@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./catalog.css";
@import "./post.css";
@import "./photo.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}
